<h1><center>PART A</center></h1>

### 1) Import numpy, pandas

In [1]:
# your code here
import numpy as np
import pandas as pd

In [2]:
# leave this cell blank

### 2) Read the heart.csv file into a dataframe called df, and  view a 2% random sample of the data

In [3]:
# your code here

df = pd.read_csv("heart.csv")
df.sample(frac=0.02)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
105,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2,0
272,67,1,0,120,237,0,1,71,0,1.0,1,0,2,0
79,58,1,2,105,240,0,0,154,1,0.6,1,0,3,1

In [4]:
# leave this cell blank

### 3) Get info on df columns (what are the dtypes on each column)

In [5]:
# your code here

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [6]:
# leave this cell blank

### 4) Split the data into Xtrain, Xtest, ytrain, ytest - with 20% in test, and random_state=1

In [7]:
# your code here

X = df.drop(['target'],axis = 1)
y = df['target']

from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y,test_size = 0.2,random_state = 1)

Xtrain = Xtrain.copy()
Xtest = Xtest.copy()
ytrain = ytrain.copy()
ytest = ytest.copy()

In [8]:
# leave this cell blank

### 5) Get basic stats on Xtrain (such as count, mean, std, etc)

In [9]:
# your code here

Xtrain.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,242.000000,242.000000,242.000000,242.000000,242.000000,242.00000,242.00000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000
mean,54.475207,0.694215,0.979339,131.380165,246.371901,0.14876,0.53719,149.524793,0.318182,1.023140,1.409091,0.727273,2.289256
std,9.155719,0.461694,1.024385,17.409520,51.509276,0.35659,0.52397,23.560318,0.466736,1.098264,0.612796,1.006205,0.610258
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.00000,0.00000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.000000,0.000000,0.000000,120.000000,212.000000,0.00000,0.00000,134.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.00000,1.00000,154.000000,0.000000,0.800000,1.000000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,274.000000,0.00000,1.00000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,1.000000,3.000000,192.000000,564.000000,1.00000,2.00000,202.000000,1.000000,5.600000,2.000000,4.000000,3.000000

In [10]:
Xtrain.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
62,52,1,3,118,186,0,0,190,0,0.0,1,0,1
127,67,0,2,152,277,0,1,172,0,0.0,2,1,2
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2
108,50,0,1,120,244,0,1,162,0,1.1,2,0,2

### 6) Check if there are any NaNs in any of the columns in Xtrain

In [11]:
# your code here

Xtrain.isnull().values.any()

False

In [12]:
# leave this cell blank

### 7) Create two lists called numeric_features (with age, trestbps, chol, thalach, oldspeak), and categorical_features (with sex, cp, fbs, restecg, exang, slope, ca, thal)

In [13]:
# your code here

numeric_features = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

In [14]:
# leave this cell blank

### 8) Standard Scale all of the numeric features in Xtrain, include transformed numeric features in Xtrain, and drop original numeric features in Xtrain

In [15]:
# your code here

from sklearn.preprocessing import StandardScaler

ss = StandardScaler(with_mean=True, with_std=True)
Xnumss = pd.DataFrame(ss.fit_transform(Xtrain[numeric_features]), 
                      columns=['ss_'+x for x in numeric_features],index=Xtrain.index)
Xtrain = pd.concat([Xtrain, Xnumss],axis = 1, ignore_index=False)
Xtrain = Xtrain.drop(numeric_features, axis=1)
Xtrain.head()

/Users/conniechang77/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/conniechang77/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

,sex,cp,fbs,restecg,exang,slope,ca,thal,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak
62,1,3,0,0,0,1,0,1,-0.270906,-0.770147,-1.174488,1.721500,-0.933529
127,0,2,0,1,0,2,1,2,1.370810,1.186855,0.595846,0.955920,-0.933529
111,1,2,1,1,0,2,1,3,0.276333,1.071737,-2.341741,0.998453,-0.751046
287,1,1,0,0,0,2,1,2,0.276333,1.301972,-0.279594,0.615663,-0.933529
108,0,1,0,1,0,2,0,2,-0.489801,-0.655030,-0.046143,0.530598,0.070128

In [16]:
# leave this cell blank

### 9) OneHotEncode all of the categorical features in Xtrain, include transformed categorical features in Xtrain, and drop original categorical features in Xtrain

In [17]:
# your code here

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False, dtype=int, handle_unknown='ignore')
Xcatohe = pd.DataFrame(ohe.fit_transform(Xtrain[categorical_features]),
                        columns=ohe.get_feature_names(), index=Xtrain.index)
Xtrain = pd.concat([Xtrain,Xcatohe],axis = 1)
Xtrain = Xtrain.drop(categorical_features,axis = 1)
Xtrain.head()

,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak,x0_0,x0_1,x1_0,x1_1,x1_2,...,x5_2,x6_0,x6_1,x6_2,x6_3,x6_4,x7_0,x7_1,x7_2,x7_3
62,-0.270906,-0.770147,-1.174488,1.721500,-0.933529,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
127,1.370810,1.186855,0.595846,0.955920,-0.933529,1,0,0,0,1,...,1,0,1,0,0,0,0,0,1,0
111,0.276333,1.071737,-2.341741,0.998453,-0.751046,0,1,0,0,1,...,1,0,1,0,0,0,0,0,0,1
287,0.276333,1.301972,-0.279594,0.615663,-0.933529,0,1,0,1,0,...,1,0,1,0,0,0,0,0,1,0
108,-0.489801,-0.655030,-0.046143,0.530598,0.070128,1,0,0,1,0,...,1,1,0,0,0,0,0,0,1,0

In [18]:
# leave this cell blank

### 10) Fit a Logistic Regression Model to training data with random_state=1

In [19]:
# your code here
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver = 'liblinear',random_state = 1)  
lr.fit(Xtrain, ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=1, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [20]:
# leave this cell blank

### 11) Standard Scale all of the numeric features in Xtest, include transformed numeric features in Xtest, and drop original numeric features in Xtest

In [21]:
# your code here

Xnum = pd.DataFrame(ss.transform(Xtest[numeric_features]), 
                    columns=['ss_'+x for x in numeric_features],index=Xtest.index)
Xtest = pd.concat([Xtest,Xnum],axis = 1)
Xtest = Xtest.drop(numeric_features,axis = 1)
Xtest.head()

/Users/conniechang77/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

,sex,cp,fbs,restecg,exang,slope,ca,thal,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak
204,0,0,0,0,0,0,3,3,0.823571,1.647326,-1.602481,-0.192449,4.723443
159,1,1,0,0,0,2,0,3,0.166885,-0.079441,-0.493590,0.573130,-0.933529
219,1,0,1,0,1,2,2,3,-0.708697,-0.079441,0.187307,0.020212,-0.933529
174,1,0,0,0,1,1,2,3,0.604676,-0.079441,-0.785404,-0.745368,1.256267
184,1,0,0,0,0,1,0,3,-0.489801,1.071737,-0.065598,-0.915497,1.438750

In [22]:
# leave this cell blank

### 12) OneHotEncode all of the categorical features in Xtest, include transformed categorical features in Xtest, and drop original categorical features in Xtest

In [23]:
# your code here

Xcat = pd.DataFrame(ohe.transform(Xtest[categorical_features]), 
                    columns=ohe.get_feature_names(),index=Xtest.index)

Xtest = pd.concat([Xtest,Xcat],axis = 1)
Xtest = Xtest.drop(categorical_features,axis = 1)

Xtest.head()

,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak,x0_0,x0_1,x1_0,x1_1,x1_2,...,x5_2,x6_0,x6_1,x6_2,x6_3,x6_4,x7_0,x7_1,x7_2,x7_3
204,0.823571,1.647326,-1.602481,-0.192449,4.723443,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
159,0.166885,-0.079441,-0.493590,0.573130,-0.933529,0,1,0,1,0,...,1,1,0,0,0,0,0,0,0,1
219,-0.708697,-0.079441,0.187307,0.020212,-0.933529,0,1,1,0,0,...,1,0,0,1,0,0,0,0,0,1
174,0.604676,-0.079441,-0.785404,-0.745368,1.256267,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,1
184,-0.489801,1.071737,-0.065598,-0.915497,1.438750,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1

In [24]:
# leave this cell blank

### 13) Predict and Evaluate Logisitic Regression Model on Xtest

In [25]:
# your code here

ypred = lr.predict(Xtest)

from sklearn import metrics
print(metrics.accuracy_score(ytest,ypred))
print(metrics.confusion_matrix(ytest,ypred))
print(metrics.classification_report(ytest,ypred))

0.7868852459016393
[[21  9]
 [ 4 27]]
              precision    recall  f1-score   support

           0       0.84      0.70      0.76        30
           1       0.75      0.87      0.81        31

   micro avg       0.79      0.79      0.79        61
   macro avg       0.79      0.79      0.78        61
weighted avg       0.79      0.79      0.79        61

In [26]:
# leave this cell blank

<h1><center>Part B</center></h1>

### 14) (a) Read in heart.csv in to a dataframe called df; (b) Split the data into Xtrain, Xtest, ytrain, ytest - with 20% in test, and random_state=1; (c) Create two lists called numeric_features (with age, trestbps, chol, thalach, oldspeak), and categorical_features (with sex, cp, fbs, restecg, exang, slope, ca, thal)

In [27]:
# your code here
df = pd.read_csv("heart.csv")
df.sample(frac=0.02)

X = df.drop(['target'],axis = 1)
y = df['target']

from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y,test_size = 0.2,random_state = 1)

Xtrain = Xtrain.copy()
Xtest = Xtest.copy()
ytrain = ytrain.copy()
ytest = ytest.copy()

numeric_features = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

In [28]:
# leave this cell blank

### 15) Create a pipeline called "numeric_transformer" with a StandardScaler step called "ss" (use the same parameters that you used in Part A above)

In [29]:
# your code here
from sklearn.pipeline import Pipeline
numeric_transformer = Pipeline(steps = [('ss',StandardScaler(with_mean=True, with_std=True))])

In [30]:
# leave this cell blank

### 16) Create a pipeline called "categorical_transformer" with a OneHotEncoder step called "ohe" (use the same parameters that you used in Part A above)

In [31]:
# your code here
categorical_transformer = Pipeline(steps = [('ohe',OneHotEncoder(sparse=False, dtype=int, handle_unknown='ignore'))])

In [32]:
# leave this cell blank

### 17) Create a column transformer called "preprocessor" with two transformers: (a) the first transformer called "num" which uses the numeric_transformer you defined above on the numeric_features; and (b) the second transformer called "cat" which uses the categorical_transformer you defined above on the categorical_features

In [33]:
# your code here

from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(transformers = [
                                ('num',numeric_transformer,numeric_features),
                                ('cat',categorical_transformer,categorical_features)],remainder = 'drop')

In [34]:
# leave this cell blank

### 18) Create a pipeline called "clf" with two steps: (a) the first step called "pp" which invokes the preprocessor you defined above; and (b) the second step called "lr" which involkes a logisitc regression model  (use the same parameters that you used in Part A above)

In [35]:
# your code here

clf = Pipeline(steps = [
    ('pp',preprocessor),
    ('lr',LogisticRegression(solver = 'liblinear'))
])

In [36]:
# leave this cell blank

### 19) Fit the clf pipeline to the trainign data

In [37]:
# your code here
clf.fit(Xtrain,ytrain)

/Users/conniechang77/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/conniechang77/anaconda3/lib/python3.7/site-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

Pipeline(memory=None,
     steps=[('pp', ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
         transformer_weights=None,
         transformers=[('num', Pipeline(memory=None,
     steps=[('ss', StandardScaler(copy=True, with_mean=True, with_std=True))]), ['age', 'trestbps', 'chol', 'thalach', 'oldpeak...ty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False))])

In [38]:
# leave this cell blank

### 20) Predict and Evaluate clf pipeline on Xtest (you should end up with same results as in Part A above)

In [39]:
# your code here
ypred = clf.predict(Xtest)

from sklearn import metrics
print(metrics.accuracy_score(ytest,ypred))
print(metrics.confusion_matrix(ytest,ypred))
print(metrics.classification_report(ytest,ypred))

0.7868852459016393
[[21  9]
 [ 4 27]]
              precision    recall  f1-score   support

           0       0.84      0.70      0.76        30
           1       0.75      0.87      0.81        31

   micro avg       0.79      0.79      0.79        61
   macro avg       0.79      0.79      0.78        61
weighted avg       0.79      0.79      0.79        61

/Users/conniechang77/anaconda3/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [40]:
# leave this cell blank